/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Heading styles */
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1, 
  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  h1 { 
    font-size: 2rem; 
  }

  h2 { 
    font-size: 1.2rem; 
  }

  h3 { 
    font-size: 1.1rem; 
  }

  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }
}
.tiptap pre, .prose pre {
  background: #23272e;
  color: #f8f8f2;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.95rem;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', 'Courier New', monospace;
  margin: 1.5em 0;
}
.tiptap code, .prose code {

  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.2em 0.4em;
  font-size: 0.95em;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', 'Courier New', monospace;
}